# dependencias
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/

# variables de entorno (nunca secretos reales en el repo)
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# sistema
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts
